<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PED各週表現散佈圖</title>

    <!-- Custom fonts for this template-->
    <link href="../6869/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../6869/static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">
<div class="modal">請稍候...</div>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline"></div>

        </ul>
        <!-- End of Sidebar -->
        
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-light bg-white topbar mb-4 static-top shadow">
                    <div class="col-lg-12" style="float:left;padding: auto; height:150px;">
                        <div class=" col-lg-9" style="float:left;">
                            <img src="static/img/logoPEDsystem.png" width="350" height="85" alt="學習成效及參與評估系統">
                        </div>
                        <div class="col-lg-3" style="float:right; width="15%"">
                            <ul id="pageBtnS">
                                <!-- Function buttons -->
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h4 mb-2 text-gray-800 pa-left" id='label_course_name'>課程名稱</h1>
                <p class="mb-4 pa-left" id='label_course_class'></p>
                <p class="mb-4 pa-left" id='label_course_enrolled'></p>                    

                <!-- Content Row -->
                <div class="row">
                    
                    <!--  show commment  -->
                    <div class="card shadow mb-4" style="padding: 10px; width: 100%">
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold text-primary">本學期全班各週表現散布圖</h4>
                        </div>
                        <form id="myform" style="margin: 20px;">
                            <div class="form-group">
                                <!--
                                <label style="color:blue;">學號:
                                    <input id='input_id' type="text" name='stu_id' maxlength=9 size=9>
                                </label>
                                -->
                                
                                <label style="font-size: auto">請問您想查看哪位學生: <input id='input_id' type="text" list="stu_list" name="mylist" maxlength=9>
                                <datalist id="stu_list">
                                    <!-- auto fill list -->
                                </datalist>
                                </label>
                                <button type="submit" class="btn btn-primary">查詢</button>
                                <br>
                                <label>說明：請輸入或檢索學號再按【查詢】按鈕(預設為第一位同學)</label>
                                
                            </div>
                        </form>
                        <div class="mul_div"></div>
                        <table id="charts_table"></table>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 淡江大學　資訊處遠距教學發展中心</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>

<!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="static/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="static/js/demo/chart-area-demo.js"></script>
    <script src="static/js/demo/chart-pie-demo.js"></script>
    <script src="static/js/demo/chart-bar-demo.js"></script>
</body>
<style>
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

#divSemiCirclePieChart {
    height: 400px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
</style>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
//__local_API_ADDR='https://bida.ipc.tku.edu.tw/pedev/7071/';
__local_API_ADDR='https://sso.tku.edu.tw/oisbida/pedev/7071/';
//setweek
_currentWeek=12;
_currentCategories= [1,2,3,4,5.6,7,8,9,10,11,12];
_traverseWeek=_currentWeek;

p_thres=e_thres=0.6;

data_dict = []

$body = $("body");

$(document).on({
    ajaxStart: function() { $body.addClass("loading"); },
     ajaxStop: function() { $body.removeClass("loading"); }    
});

//停用重新填入確認視窗
if ( window.history.replaceState ) { 
    window.history.replaceState( null, null, window.location.href ); 
}

$(document).ready(get_mul_pe());

$("form").submit(function(event){
    // Stop form from submitting normally
    event.preventDefault();
    var OnSelect = document.getElementById('input_id').value;
    draw_charts(data_dict, OnSelect);
})

function get_mul_pe(){
    //alert("funtion called");
    window.course_id = window.localStorage.getItem("course_id") ;
    window.semester = window.localStorage.getItem("semester") ;
    
    if (semester=='1122'){
        _week = _currentWeek;
        
    }else{
        _week =18;
    }
    
    const mul_div = document.querySelector('.mul_div');
    mul_div.innerHTML = "<div class='empty'></div>"; //清空
    
    
    //依照週次創建對應數量的表格空間in table
    let tableContent = "";
    for(let i = 1; i <= _week; i++){
        if((i-4)%4 === 1){tableContent += "<tr>";}
        if(i%4 === 1){tableContent += "<tr>";}
        tableContent += "<td><a style='padding: 0 30px'>第"+i+"週</a><a id='container-pe-course-"+i+"'>pe_chart</a></td>";
    };
    document.getElementById('charts_table').innerHTML = "<tbody>" + tableContent + '</table>';
    
    //開始載入資料
    
    
    $.ajax({    
        url: __local_API_ADDR + "get_multiple_pe_data?course_id="+course_id,
        type: "GET",
        async: false,
        success: function(getData) {
            //alert("success");
            data_dict = JSON.parse(getData);
        }
    })
    //console.log(data_dict);
    course_name = data_dict[_week].course_name;
    course_code = data_dict[_week].course_code;
    
    document.getElementById('label_course_name').textContent = "課程名稱:  " + course_name;
    document.getElementById('label_course_class').textContent = "開課系級:  " + course_code.substring(4,9) + " " + course_code.substring(9,10) + "年級 " + "學期序: " + course_code.substring(0,4) + " 班別: " + course_code.substring(16,18);
    
    // data_list for stu
    for(d of data_dict[_week-1].data_list) {
                    
        $("#stu_list").append('<option value="' + d.user_code + '">' + d.name + '</option>')
    
    };
    
    _s_id = data_dict[_week-1].data_list[0].user_code;
    document.getElementById('input_id').setAttribute('value', _s_id);
    
    draw_charts(data_dict, _s_id);
}


function draw_charts(data_dict, onselect_stu){
    
    //用輸入資料作圖
    
    let find_user = false;
    
    for(let i = 0 ; i < _week ; i++){
    
        pe_series = [];
        sid_datalist = [];
        
        for(d of data_dict[i].data_list) {
            if (d.user_code==onselect_stu){
                d.color = '#58E5ED';
                sid_datalist.push(d);
                find_user = true;
            }else{
                 // Quadrant I, GREEN
                if (d.x >=0.6 & d.y >=0.6){
                    // PR95, BLUE
                    if (d.x >=0.95 & d.y >=0.95){
                        d.color = '#0040FF';
                    }
                    else {
                        d.color = '#9FE6A0';
                    }
                }
                // Quadrant II, YELLOW
                else if (d.x <0.6 & d.y >=0.6){
                    d.color = '#FD8C04';
                }
                // Quadrant III, RED
                else if (d.x <0.6 & d.y <0.6){
                    d.color = '#E60965';
                }
                // Quadrant IV, FFFF37
                else {    
                    d.color = '#FFFF37';
                }
            }
           
        }
        
        var feed = {name: course_name + course_code, data: data_dict[i].data_list, color: data_dict[i].data_list.color};
        var feed2 = {name: course_name + course_code, data :sid_datalist, zIndex: 99, marker: {symbol: 'circle', radius: 8, lineWidth: 2, lineColor: "#5C73F7"}};
        pe_series.push(feed);
        pe_series.push(feed2);
        //console.log(pe_series);
        
        var link_txt = 'container-pe-course-'+(i+1);
        
        Highcharts.chart({
            chart: {
                renderTo: link_txt,
                type: 'scatter',
                zoomType: 'xy',
                width: 300,
                 height: (3 / 4 * 100) + '%' // 4:3 ratio
            },
            title: {
                text: ''
            },
            xAxis: {
                title: {
                    enabled: true,
                    text: 'Performance'
                },
                max: 1,
                min: 0,
                plotLines: [{
                    color: 'black',
                    dashStyle: 'dot',
                    width: 2,
                    value: p_thres,
                    zIndex: 10
                }],
                plotBands: [{
                    from: 0,
                    to: p_thres-0.1
                },{
                    from: p_thres-0.1,
                    to: p_thres+0.1
                },{
                    from: p_thres+0.1,
                    to: 1
                }                
                ],
                gridLineColor: 'transparent'
            },
            yAxis: {
                title: {
                    text: 'Engagement'
                },
                max: 1,
                min: 0,
                plotLines: [{
                    color: 'black',
                    dashStyle: 'dot',
                    width: 2,
                    value: e_thres,
                    zIndex: 10
                }],
                gridLineColor: 'transparent'
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'top',
                x: 100,
                y: 70,
                floating: true,
                backgroundColor: Highcharts.defaultOptions.chart.backgroundColor,
                borderWidth: 1,
                enabled: false
            },
            plotOptions: {
                scatter: {
                    allowPointSelect: true,
                    marker: {
                        radius: 5,
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    },
                    states: {
                        hover: {
                            marker: {
                                enabled: false
                            }
                        }
                    },
                    tooltip: {
                        pointFormat: '{point.name} {point.user_code} -> P: {point.x} , E: {point.y} '
                    }
                }
            },
            series: pe_series,
            exporting: {
                filename: link_txt
            }
        });//End of highcharts
        
    }// End of for-loop
    if (!find_user) {
        alert('搜尋結果未找到此學號');
    }
}
</script>